{% extends "base.html" %}

{% block content %}

    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Enter Employee data</h6>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="wrap-input p-3">
          <form class="login100-form validate-form"  method="post" enctype="multipart/form-data" action="{% url 'saveEmpInfo' %}" >
            {% csrf_token %}
            <div class="wrap-input100 validate-input" data-validate="Enter Age">
              <input class="input100" type="text" name="age">
              <span class="focus-input100" data-placeholder="Age"></span>
            </div>
              <div class="wrap-input100 validate-input" data-validate="Enter Daily Rate">
              <input class="input100" type="text" name="dailyRate">
              <span class="focus-input100" data-placeholder="Daily Rate"></span>
            </div>
              <div class="wrap-input100 validate-input" data-validate="Enter Distance From Home">
              <input class="input100" type="text" name="distanceFromHome">
              <span class="focus-input100" data-placeholder="Distance From Home"></span>
            </div>
              <div class="wrap-input100 validate-input" data-validate="Enter Environment Satisfaction">
              <input class="input100" type="text" name="environmentSatisfaction">
              <span class="focus-input100" data-placeholder="Environment Satisfaction"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter Job Level">
              <input class="input100" type="text" name="jobLevel">
              <span class="focus-input100" data-placeholder="Job Level"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter Job Role">
              <input class="input100" type="text" name="jobRole">
              <span class="focus-input100" data-placeholder="Job Role"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter Marital Status">
              <label>Marital Status</label>
              <select required="" class="input100" name="maritalStatus">
                <option value="Single">Single</option>
                <option value="Married">Married</option>
              </select>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter Monthly Income">
              <input class="input100" type="text" name="monthlyIncome">
              <span class="focus-input100" data-placeholder="Monthly Income"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter Over Time">
              <label>Over Time</label>
              <select required="" class="input100" name="overTime">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>

               <div class="wrap-input100 validate-input" data-validate="Enter Percent Salary Hike">
              <input class="input100" type="text" name="percentSalaryHike">
              <span class="focus-input100" data-placeholder="Percent Salary Hike"></span>
            </div>

               <div class="wrap-input100 validate-input" data-validate="Enter Relationship Satisfaction">
              <input class="input100" type="text" name="relationshipSatisfaction">
              <span class="focus-input100" data-placeholder="Relationship Satisfaction"></span>
            </div>

               <div class="wrap-input100 validate-input" data-validate="Enter Total Working Years">
              <input class="input100" type="text" name="totalWorkingYears">
              <span class="focus-input100" data-placeholder="Total Working Years"></span>
            </div>


            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

{% endblock %}
