{% extends "base.html" %}

{% block content %}


    <div class="nav-scroller bg-white box-shadow">
      <nav class="nav nav-underline">
        <a class="nav-link active" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/#">Dashboard</a>
        <a class="nav-link" href="#">Explore</a>
      </nav>
    </div>

    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Welcome to Pay & Reap</h6>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="wrap-input p-3">
          <form class="login100-form validate-form"  method="post" enctype="multipart/form-data" action="{% url 'saveUserInfo' %}" >
            {% csrf_token %}
            <span class="login100-form-title p-b-48">
            <i class="zmdi zmdi-font"></i>
            </span>
            <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
              <input class="input100" type="text" name="email">
              <span class="focus-input100" data-placeholder="Email Id"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter organization name">
              <input class="input100" type="text" name="organization">
              <span class="focus-input100" data-placeholder="Organization Name"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Select file">
              <input class="input100 input200" id="uploadEmp" type="file" name="employee_data">
              <span class="file-name"></span>
              <span class="focus-input100" data-placeholder="Upload employee data"></span>
            </div>
            <table id="empTable">
<tr>
  <td align="right">Age</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">DailyRate</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">DistanceFromHome</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">EnvironmentSatisfaction</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">JobLevel</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">JobRole</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">MaritalStatus</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">MonthlyIncome</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">OverTime</td><td><label>

    </label></td></tr>
<tr>
                <td align="right">PercentSalaryHike</td><td><label>

    </label></td></tr>
<tr>
    <td align="right">RelationshipSatisfaction</td><td><label>

    </label></td></tr>
<tr>
    <td align="right">TotalWorkingYears</td><td><label>

    </label></td></tr>

        <tr>
            <td><button class="btn-primary" id="autoselect" tpye="button" style="float:right" onsubmit="return false">  AutoSelect </button></td>
    </tr>

</table>

   <script src="https://d3js.org/d3.v3.js"></script>
              <script type='text/javascript'>
document.getElementById("empTable").style.display = "none";

document.getElementById('uploadEmp').onchange = function(e) {
upload(e);
function upload(e) {


       var data = null;
       var file = e.target.files[0];

       var reader = new FileReader();
       reader.readAsText(file);
       reader.onload = function (event) {
           var csvData = event.target.result;

           var parsedCSV = d3.csv.parseRows(csvData);

           parsedCSV.forEach(function (d, i) {
           if(i==0){
           createForm(d)
           }
           });

       }
   }

   function createForm(csv){
    console.log(csv);

//Create and append select list

var selectList = document.createElement("select");
selectList.name="features";
selectList.required="true"
var option = document.createElement("option");
    option.text = "--select--";
     selectList.appendChild(option);
//Create and append the options
 for (var i in csv) {

    var option = document.createElement("option");
    option.value = csv[i];
    option.text = csv[i];
    selectList.appendChild(option);

}
var $myParent=document.getElementsByTagName("label");
for ( i=0;i<$myParent.length;i++) {
$myParent[i].appendChild(selectList.cloneNode(true));
}


document.getElementById("empTable").style.display = "block";
document.getElementById("autoselect").onclick = function(e){
 e.preventDefault();
           var $myParent=document.getElementsByTagName("select");
            for ( i=0;i<=csv.length;i++) {
            $myParent[i].options[i+1].defaultSelected = true;
}
 return false;

   }


   }



}
</script>
            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" type="submit">  Submit </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </main>

{% endblock %}
