{% extends "base.html" %}

{% block content %}
    <div class="nav-scroller bg-white box-shadow">
      <nav class="nav nav-underline">
        <a class="nav-link active" href="{% url 'index' %}">Organization</a>
        <a class="nav-link" href="{% url 'employee' %}">Employee</a>
      </nav>
    </div>

    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Enter Organization data</h6>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="wrap-input p-3">
          <form class="login100-form validate-form"  method="post" enctype="multipart/form-data" action="{% url 'saveUserInfo' %}" >
            {% csrf_token %}
            <span class="login100-form-title p-b-48">
            <i class="zmdi zmdi-font"></i>
            </span>
            <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
              <input class="input100" type="text" name="email">
              <span class="focus-input100" data-placeholder="Email Id"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter organization name">
              <input class="input100" type="text" name="organization">
              <span class="focus-input100" data-placeholder="Organization Name"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Select file">
              <input class="input100 input200" id="uploadEmp" type="file" name="employee_data">
              <span class="file-name"></span>
              <span class="focus-input100" data-placeholder="Upload employee data"></span>
            </div>

            <div id="empTable" class="row">
              <div class="col-md-4">
                <label class="float-right" >Age</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >DailyRate</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >DistanceFromHome</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >EnvironmentSatisfaction</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right">JobLevel</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >JobRole</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >MaritalStatus</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >MonthlyIncome</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >OverTime</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >PercentSalaryHike</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >RelationshipSatisfaction</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>

              <div class="col-md-4">
                <label class="float-right" >TotalWorkingYears</label>
              </div>
              <div class="col-md-6">
                <div class="columns-dropdown"></div>
              </div>
              <div class="col-md-4 offset-md-8 container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button type="button" id="autoselect" class="login100-form-btn">Auto Map</button>
                </div>
              </div>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

<script src="https://d3js.org/d3.v3.js"></script>
<script type='text/javascript'>
  var columns_name = ["age", "dailyRate", "distanceFromHome", "environmentSatisfaction", "jobLevel",
  "jobRole", "maritalStatus", "monthlyIncome", "overTime", "percentSalaryHike", "relationshipSatisfaction",
  "totalWorkingYears"];

  document.getElementById("empTable").style.display = "none";
  document.getElementById('uploadEmp').onchange = function(e) {
    upload(e);
    function upload(e) {
       var data = null;
       var file = e.target.files[0];

       var reader = new FileReader();
       reader.readAsText(file);
       reader.onload = function (event) {
         var csvData = event.target.result;
         var parsedCSV = d3.csv.parseRows(csvData);
         createForm(parsedCSV[0]);
       }
     }

     function createForm(csv){
      //Create and append select list
      var selectList = document.createElement("select");
      selectList.required="true";
      selectList.className = "input100";
      var option = document.createElement("option");
      option.text = "--select--";
      selectList.appendChild(option);
      //Create and append the options
      for (var i in csv) {
        var option = document.createElement("option");
        option.value = csv[i];
        option.text = csv[i];
        selectList.appendChild(option);
      }
      var $myParent=document.getElementsByClassName("columns-dropdown");
      for ( i=0;i<$myParent.length;i++) {
        var cloneSelectList = selectList.cloneNode(true);
        cloneSelectList.name = columns_name[i];
        $myParent[i].appendChild(cloneSelectList);
      }

      document.getElementById("empTable").style.display = "flex";
      document.getElementById("autoselect").onclick = function(e){
      e.preventDefault();
      var $myParent=document.getElementsByTagName("select");
      for ( i=0;i<=csv.length;i++) {
        $myParent[i].options[i+1].defaultSelected = true;
      }
      return false;
      }
    }
  }
</script>

{% endblock %}
